/* :root {
  --background-green-500: #2ab212;
  --background-green-200: #a7ef2c;
  --background-light-blue-300: #d4f3f4;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left top,
    #2ab212,
    #48be16,
    #60c91a,
    #76d51f,
    #8be024,
    #86e84c,
    #82f06b,
    #81f886,
    #77fbb6,
    #87fbd9,
    #aaf8ee,
    #d4f3f4
  );
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  pointer-events: none;
  filter: drop-shadow(5px 10px 10px #050505);
} */
